<section data-gtm-element="features_section" data-gtm-allowed-actions="scroll" id="midpagesection">


    <div class="midpage">
        <div class="container">
            <div class="innerbox">
                
                <div class="text">
                    <h2>A program for engineers to master Problem Solving & System Design</h2>
                </div>
                <div class="box">
                    <div class="cards">
                        <div class="img"></div>
                        <div class="inner-text">
                        </div>
                    </div>
                    <div class="cards">
                        <div class="img"></div>
                        <div class="inner-text">
                        </div>
                    </div>
                    <div class="cards">
                        <div class="img"></div>
                        <div class="inner-text">
                        </div>
                    </div>
                    <div class="cards">
                        <div class="img"></div>
                        <div class="inner-text">
                        </div>
                    </div>
                    <div class="cards">
                        <div class="img"></div>
                        <div class="inner-text">
                        </div>
                    </div>
                    <div class="cards">
                        <div class="img"></div>
                        <div class="inner-text">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- 
    <section data-gtm-element="features_section" data-gtm-allowed-actions="scroll" id="features" class="section gtm-track-element glance" data-cy="" style="">
        <div class="sr-container ">
          
        <div class="glance__content">
      
          
      <div class="section-header glance__heading">
        <div class="section-header__content">
          <h2 class="section-header__title">
            A program for engineers to master <b>Problem Solving &amp; System Design</b>
          </h2>
        </div>
        
      </div>
      
      
          <div class="glance__cards">
              <div class="item">
                <div class="skew-badge-container">
                  <div class="skew-badge">
                    <div class="skew-badge__content"> </div>
                  </div>
                </div>
                <div class="item__img">
                  <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/structured-c36517d8d41efb3a24cbcb3fe1c8b27ffcfacb6b1462ec3e60516504a07eaff6.svg.gz" alt="Structured, industry vetted curriculum ">
                </div>
                <div class="item__title">
                  <b>Structured, industry vetted curriculum </b>
                </div>
              </div>
              <div class="item">
                <div class="skew-badge-container">
                  <div class="skew-badge">
                    <div class="skew-badge__content"> </div>
                  </div>
                </div>
                <div class="item__img">
                  <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/live-classes-afff2e39f63a26a19ee4ae844d4b0891c20c50e4b670a224564640cbb973f867.svg.gz" alt="Live classes by faculty who have been there, done that">
                </div>
                <div class="item__title">
                  <b>Live classes by faculty</b> who have been there, done that
                </div>
              </div>
              <div class="item">
                <div class="skew-badge-container">
                  <div class="skew-badge">
                    <div class="skew-badge__content"> </div>
                  </div>
                </div>
                <div class="item__img">
                  <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/project1-9fc6130d4e271198d5f051da0712b27627c872a353dac61c91f248e4f60b6ddf.svg.gz" alt="Practical experience through real-life projects">
                </div>
                <div class="item__title">
                  <b>Practical experience</b> through <b>real-life projects</b>
                </div>
              </div>
              <div class="item">
                <div class="skew-badge-container">
                  <div class="skew-badge">
                    <div class="skew-badge__content"> </div>
                  </div>
                </div>
                <div class="item__img">
                  <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/flexibility-94067174b36a4a38b3448219f64ccd3e42b3f32667c5ff0ec8d8fab665525d87.svg.gz" alt="Regular 1:1 mentorship from industry veterans">
                </div>
                <div class="item__title">
                  <b>Regular 1:1 mentorship</b> from industry veterans
                </div>
              </div>
              <div class="item">
                <div class="skew-badge-container">
                  <div class="skew-badge">
                    <div class="skew-badge__content"> </div>
                  </div>
                </div>
                <div class="item__img">
                  <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/career-support-c92399914995cba52680341de44c1ce49d292b1de0f10aeb58c3c58a79e3ad3b.svg.gz" alt="Career support via a dedicated recruitment team, alumni network, etc.">
                </div>
                <div class="item__title">
                  <b>Career support</b> via a dedicated recruitment team, alumni network, etc.
                </div>
              </div>
              <div class="item">
                <div class="skew-badge-container">
                  <div class="skew-badge">
                    <div class="skew-badge__content"> </div>
                  </div>
                </div>
                <div class="item__img">
                  <img src="https://assets.scaler.com/assets/academy/svg/at-a-glance/mentor-efc7b3e100e7f2bd17f1f95f4ca28b5205ac3f4e04d4cddd064a800cc63f1c74.svg.gz" alt="Aspirational peer group of 2,000+ Scaler students &amp;amp; alumni">
                </div>
                <div class="item__title">
                  <b>Aspirational peer group</b> of 2,000+ Scaler students &amp; alumni
                </div>
              </div>
          </div>
      
          
        </div>
      
        </div>
      </section> -->