
<div class="container1 container">
    <div class="content">
        <h1>You are just few steps closer to your Dream IT Job</h1>
        <div class="main-role">

            <div class="box">
                <div class="cards">
                <div class="img">
                    <!-- <span>01</span> -->
                    <p>01</p>
                     <img  src="https://www.itvedant.com/images/advise-1.svg" alt="Career Advice" id="adv1">
                </div>
                    <div class="text">
                        <h3>Career Advise</h3>
                        <p>A dedicated career expert to put a light on which course to select basis your area of interest &amp; qualification
                        </p></div>
                </div>
            </div>
            <div class="box even">
                <div class="cards">
                <div class="img">
                    <!-- <span>01</span> -->
                    <p>02</p>
                     <img  src="https://www.itvedant.com/images/advise-1.svg" alt="Career Advice" id="adv1">
                </div>
                    <div class="text">
                        <h3>Career Advise</h3>
                        <p>A dedicated career expert to put a light on which course to select basis your area of interest &amp; qualification
                        </p></div>
                </div>
            </div>
            <div class="box">
                <div class="cards">
                <div class="img">
                    <!-- <span>01</span> -->
                    <p>03</p>
                     <img  src="https://www.itvedant.com/images/advise-1.svg" alt="Career Advice" id="adv1">
                </div>
                    <div class="text">
                        <h3>Career Advise</h3>
                        <p>A dedicated career expert to put a light on which course to select basis your area of interest &amp; qualification
                        </p></div>
                </div>
            </div>
            <div class="box even">
                <div class="cards">
                <div class="img">
                    <!-- <span>01</span> -->
                    <p>04</p>
                     <img   src="https://www.itvedant.com/images/advise-1.svg" alt="Career Advice" id="adv1">
                </div>
                    <div class="text">
                        <h3>Career Advise</h3>
                        <p>A dedicated career expert to put a light on which course to select basis your area of interest &amp; qualification
                        </p></div>
                </div>
            </div>
            <div class="box">
                <div class="cards">
                <div class="img">
                    <!-- <span>01</span> -->
                    <p>05</p>
                     <img  src="https://www.itvedant.com/images/advise-1.svg" alt="Career Advice" id="adv1">
                </div>
                    <div class="text">
                        <h3>Career Advise</h3>
                        <p>A dedicated career expert to put a light on which course to select basis your area of interest &amp; qualification
                        </p></div>
                </div>
            </div>
            <div class="box even">
                <div class="cards">
                <div class="img">
                    <!-- <span>01</span> -->
                    <p>06</p>
                     <img  src="https://www.itvedant.com/images/advise-1.svg" alt="Career Advice" id="adv1">
                </div>
                    <div class="text">
                        <h3>Career Advise</h3>
                        <p>A dedicated career expert to put a light on which course to select basis your area of interest &amp; qualification
                        </p></div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
<div class="bottom">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#666666"  fill-opacity=".2" d="M0,288L48,282.7C96,277,192,267,288,261.3C384,256,480,256,576,229.3C672,203,768,149,864,117.3C960,85,1056,75,1152,101.3C1248,128,1344,192,1392,224L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg>
</div>