<div class="container" id="aboutus">
    <h2 class="text-center">About Us</h2>
    <div class="middlepage">

        <div class="matter">
            <div class="text">
                <span><h1>1</h1></span>
                <p>Our mentors working in product-based companies will coach you to crack those difficult tech interviews with a breeze.</p>
            </div>
           

            <p>Our mentors working in product-based companies will coach you to crack those difficult tech interviews with a breeze.</p>
            <p>Our mentors working in product-based companies will coach you to crack those difficult tech interviews with a breeze.</p>
            <p>Our mentors working in product-based companies will coach you to crack those difficult tech interviews with a breeze.</p>
            <p>Our mentors working in product-based companies will coach you to crack those difficult tech interviews with a breeze.</p>
            
        </div>
        <div class="imgsrc">
            <img src="../../assets/about.jpg" alt="">
        </div>
    </div>
</div>