<app-navbar1 (activate)="onActivate($event)" ></app-navbar1>




<div class="container">
    <section class="body-cl ">

        <div class="container1">
              
                <div class="text">
                    <div class="text-content">
                        <h2>Join our</h2>
                        <h2><span>Super 30</span> Squard</h2>
                        <p>A structured, flexible & guided learning program</p>
                    </div>
                </div>
                
                <div class="src">
                    <div class="img" id="section1">
                        <img src="../../assets/Programming-pc.jpg" alt="">
                    </div>
                </div>
            </div>
    </section>
  
</div>












<app-program></app-program>
<app-fees  ></app-fees>
<app-contact-us>

</app-contact-us>

<router-outlet (activate)="onActivate($event)"></router-outlet>