<div class="container" id="program">
    <div class="text">
        <h2>Programs  </h2>
      
    </div>
    <div class="text">
        <h3>The Five Months of course can land you at product based company.</h3>
    </div>
    <div class="content">
        <div class="leftcontent">
            <h4 style="color: blue;">1st Month: Basic Algorithms & Profile Presentation</h4>
            <p>You will learn basic building blocks of data structures and basic algorithms</p>
            <ul>
                <li>Time complexity</li>
                <li>Searching & Sorting</li>
                <li>Basic DS - Hashmaps, Sets, Strings, Stacks & Queues</li>
                <li>How to Leetcode MAANG interview process</li>
            </ul>
        </div>
        <div class="rightcontent">
            <div class="img">

                <img src="../../assets/java.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="leftcontent">
            <h4 style="color: blue;">1st Month: Basic Algorithms & Profile Presentation</h4>
            <p>You will learn basic building blocks of data structures and basic algorithms</p>
            <ul>
                <li>Time complexity</li>
                <li>Searching & Sorting</li>
                <li>Basic DS - Hashmaps, Sets, Strings, Stacks & Queues</li>
                <li>How to Leetcode MAANG interview process</li>
            </ul>
        </div>
        <div class="rightcontent">
            <div class="img">

                <img src="../../assets/code-logic.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="leftcontent">
            <h4 style="color: blue;">1st Month: Basic Algorithms & Profile Presentation</h4>
            <p>You will learn basic building blocks of data structures and basic algorithms</p>
            <ul>
                <li>Time complexity</li>
                <li>Searching & Sorting</li>
                <li>Basic DS - Hashmaps, Sets, Strings, Stacks & Queues</li>
                <li>How to Leetcode MAANG interview process</li>
            </ul>
        </div>
        <div class="rightcontent">
            <div class="img">

                <img src="../../assets/code-logic.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="leftcontent">
            <h4 style="color: blue;">1st Month: Basic Algorithms & Profile Presentation</h4>
            <p>You will learn basic building blocks of data structures and basic algorithms</p>
            <ul>
                <li>Time complexity</li>
                <li>Searching & Sorting</li>
                <li>Basic DS - Hashmaps, Sets, Strings, Stacks & Queues</li>
                <li>How to Leetcode MAANG interview process</li>
            </ul>
        </div>
        <div class="rightcontent">
            <div class="img">

                <img src="../../assets/learning-coding.jpg" alt="">
            </div>
        </div>
    </div>
</div>