<app-navbar></app-navbar>
<section class="body-cl ">

    <div class="container1">
          
            <div class="text">
                <div class="text-content">
                    <h2>Join our</h2>
                    <h2><span>Super 30</span> Squard</h2>
                    <p>A structured, flexible & guided learning program</p>
                </div>
            </div>
            
            <div class="src">
                <div class="img">
                    <img src="../../assets/Programming-pc.jpg" alt="">
                </div>
            </div>
        </div>
</section>
<app-body></app-body>
<app-content></app-content>
<app-aboutus></app-aboutus>